<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2 th:text="'First name : '+${mentor.firstName}"></h2>
    <h2 th:text="'Last name : '+${mentor.lastName}"></h2>
    <h2 th:text="'Email : '+${mentor.email}"></h2>
    <h2 th:text="'Graduate : '+${mentor.graduated}"></h2>
    <h2 th:text="'Gender : '+${mentor.gender}"></h2>
    <h2 th:text="'Batch : '+${mentor.batch}"></h2>
    <h2 th:text="'Company : '+${mentor.company}"></h2>




</body>
</html>