<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cybertek</title>

    <!--
    Head contains:
    - Meta data (is not display)
    - Title,
    - Styles,
    - Link
    - Script, javaScript
    - Meta , key word for google research
    - other
    -->
</head>

<body>

    Welcome to Developer Course !!!

    <h1>Spring Boot</h1>
    <h2>Spring Boot</h2>
    <h3>Spring Boot</h3>
    <h4>Spring Boot</h4>

    <h1 align="center" style="color: blue">Spring Framework</h1>

    <img src="spring.png" alt="Spring Boot Image">

    <ul>
        <li>MVC</li>
        <li>ORM</li>
        <li>API</li>
    </ul>

    <a href="https://www.amazon.com">Amazon</a>

    <table>
        <tr>
            <td>Loop</td>
            <td>Collection</td>
            <td>Stream</td>
        </tr>
        <tr>
            <td>IoC</td>
            <td>DI</td>
            <td>Value</td>
        </tr>

    </table>

    <label>Name:</label>
    <input type="text" name="userName"><br>
    <label>Password:</label>
    <input type="password"><br>
    <label>Enter your comments</label><br>
    <textarea name="comments"></textarea><br>
    <label>Please select your favorite subject</label>
    <input type="radio" name="Spring" value="IoC" checked="checked">IoC
    <input type="radio" name="Spring" value="DI">DI
    <input type="radio" name="Spring" value="MVC">MVC

    <br>
    <label>Please select your company</label><br>
    <input type="checkbox" name="company" value="BankOfAmerica">BOA
    <input type="checkbox" name="company" value="SouthWestAirline">SWE
    <input type="checkbox" name="company" value="Limited">LTD

    <br>
    <label>Select your car</label>
    <select name="cars">
        <option value="honda">Honda</option>
        <option value="nissan">Nissan</option>
        <option value="bmw">BMW</option>
    </select>

    <form action="#" method="get">
        First name :<input type="text" name="first_name"/>
        <br>
        Last name :<input type="text" name="last_name"/>
    </form>



    <div>
        <h3>This is Java Developer course</h3>
        <ul>
            <li>Sprint Framework</li>
            <li>Security</li>
            <li>Unit Testing</li>
        </ul>
    </div>

</body>
</html>



























